* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(48, 62, 114, 1);
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #f5f7ff;
    color: #2c2c2c;
}

/* Навигация */
.nav {
  height: 50px;
  justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: rgba(162, 182, 255, 1);
}

/* Общие кнопки навигации */
.nav a,
.dropbtn {
    background: rgb(255, 255, 255);;
    border: none;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.nav a:hover,
.dropbtn:hover {
    background: #5a6adf;
    color: #fff;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    min-width: 180px;
    overflow: hidden;
    z-index: 10;
}

.dropdown-content a {
    display: block;
    padding: 10px 16px;
    color: #333;
    text-decoration: none;
}

.dropdown-content a:hover {
    background: #5a6adf;
}

/* Показываем меню по классу */
.dropdown.active .dropdown-content {
    display: block;
}

/* Кнопка с глазом */
.eye-btn {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background: #5a6adf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.eye-btn:hover {
    background: #404fc5;
}

.eye-btn img {
    width: 18px;
}


.shapka{
    margin: auto;
  background-image: url(./../img/услуги_шапка.png);
  background-size: cover;
  width: 100%;
  height: 210px;
  position: relative;
}


/* Кнопка наверх */
#toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

#toTop img {
    width: 100%;
}

/* Подвал */
.footer{
  background-image: url(./../img/подвал.png);
  background-size: cover;
  height: 350px;
}